<div id="container">
    <button class="btnEdit" (click)="openDialogEdit();">Edit</button>
    <button class="btnMultiUpd" (click)="openDialogMultiUpd();">Multi-Upd</button>
    <button class="btnMultiAdd" (click)="openDialog();">Multi-Add</button>
    <app-botao-excluir></app-botao-excluir>
    <div class="boxTextIndex">
       <p class="inline">Text</p>
       <p class="inline">Index</p>

       <div style="width: 300px;" *ngIf="topicsBool2">
            <ng-container *ngFor="let topic of topics; trackBy: trackByFn">
                <ng-template [ngIf]="topic.selectedTopics">
                    <div (click)="selectTopic(topic)" class="selecionado container">
                        <span>{{topic.topic}}</span>
                        <span style="margin-left: 220px;">{{topic.id}}</span>
                    </div>
                </ng-template>
                <ng-template [ngIf]="!topic.selectedTopics">
                    <div (click)="selectTopic(topic)" class="container">
                        <span>{{topic.topic}}</span>
                        <span style="margin-left: 220px;">{{topic.id}}</span>
                    </div>
                </ng-template>
            </ng-container>
       </div>
       <div style="width: 300px;" *ngIf="topicsBool">
        <ng-container *ngFor="let tQuestion of typeQuestion2; trackBy: trackByFn">
            <div *ngFor="let topic of tQuestion.typeQuestion.topics; let i = index">
                <ng-template [ngIf]="topic.selectedTopics" *ngIf="tQuestion.typeQuestion.question === myQuestion">
                    <div (click)="selectTopic(topic)" class="selecionado container">
                        <span>{{topic.topic}}</span>
                        <span style="margin-left: 220px;">{{topic.id}}</span>
                    </div>
                </ng-template>
                <ng-template [ngIf]="!topic.selectedTopics" *ngIf="tQuestion.typeQuestion.question === myQuestion">
                    <div (click)="selectTopic(topic)" class="container">
                        <span>{{topic.topic}}</span>
                        <span style="margin-left: 220px;">{{topic.id}}</span>
                    </div>
                </ng-template>
            </div>
        </ng-container>
    </div>
    </div>
    <div>
        <div class="margin-bottom">
            Render Mode: 
            <select (click)="layoutMethod($event);" name="radio" class="selectWidth">
                <option value="radio">Table(Default)</option>
                <option value="selectBox">Select Box</option>
            </select>
        </div>
    </div>
</div>
